<h1>Word Count Results</h1>

<div>
  <h3>Text</h3>
</div>
<div>
  <%= @min %>
</div>

<div><h3>Word Count</h3></div>
<div>
  <%= @max %>
</div>

<div><h3>Character Count (with spaces)</h3></div>
<div>
  <%= @random %>
</div>

<div><h3>Character Count (without spaces)</h3></div>
<div>
  <%= @random %>
</div>

<div><h3>Occurences of <%= @user_word %></h3></div>
<div>
  <%= @random %>
</div>

<div>
  <h4><a href = "http://localhost:3000/payment/new">Pick another random number</a></h4>
</div>
